<div  class="container-fluid">
    <h2>Login Page</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signInNow()">
        <div class="form-group">
            <!-- <label>Email Id:</label> -->
        <input type="email" placeholder="Enter Email Id" formControlName="emailid" />
        </div>
        <div class="form-group">
            <!-- <label>Email Id:</label> -->
        <input type="password" placeholder="Enter password" formControlName="password" />
        </div>
        <!-- <label>Type Of User: </label> -->
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/>admin
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user
        <br>
        <div class="form-group" >
            <input type="submit" value="Login" class="btn btn-success"/>
        </div>
        <div class="form-group">
            <input type="reset" value="reset"class="btn btn-secondary"/>
        </div>
        <!-- <input type="submit" value="Sign in" /> -->
        <!-- <input type="reset" value="reset"/> -->
        <!-- <input type="button" (click)="note()" value="note"/> -->
    </form>
    <br>
    <span style="color: red;">{{msg}}</span><br>
    <!-- <a routerLink="/signUp">SignUp</a> -->
    <div class="form-group" >
        <p>Don't have Account? <button class="btn btn-outline-secondary"><a routerLink="/signUp" style="color: black; text-decoration:none">Create Account</a></button></p>
    </div>
</div>


