<div align="center">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://www.deccanherald.com/sites/dh/files/articleimages/2020/07/17/Aadhar%201-1595007260.jpg" style="height: 70px; width: 70px; margin-bottom: 0%; margin-top:0%"><b style="color: darkslategray;">mAadhar  |</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signUp">Admin Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signUp">User Signup</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="employee">Employee</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>