<div class="container-fluid">
    <h2>Apply for Aadhar Card</h2>
    <form [formGroup]="loginRef" (ngSubmit)="applyUser()">
        <div class="form-group">
            <input type="email" placeholder="Enter Email Id" formControlName="emailid"/>
            </div>
            <div class="form-group">
            <input type="password" placeholder="Enter password" formControlName="password"/>
            </div>
            <div class="form-group">
            <input type="number" placeholder="Enter number" formControlName="id"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter your name" formControlName="name"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter your address" formControlName="address"/>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Enter your mobile number" formControlName="phone"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter your DOB" formControlName="dob"/>
            </div>
            <!-- <label>Type Of User: </label> -->
            <input type="radio" name="typeOfUser" value="none" formControlName="typeOfUser"/>none
            <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user
            <br>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary"/>
            </div>
            <div class="form-group">
                <input type="reset" value="reset" class="btn btn-secondary"/>
            </div>


        <!-- <label>Email Id: </label>
        <input type="email" formControlName="emailid"><br>
        <label>Password: </label>
        <input type="password" formControlName="password"><br>
        <label>Aadhar Number: </label>
        <input type="number" formControlName="id" required><br>
        <label>Name: </label>
        <input type="text" formControlName="name"><br>
        <label>Address: </label>
        <input type="text" formControlName="address"><br>
        <label>Phone number: </label>
        <input type="number" formControlName="phone"><br>
        <label>Date of Birth: </label>
        <input type="text" formControlName="dob"><br>
        <label>Type Of User: </label>
        <input type="radio" name="typeOfUser" value="none" formControlName="typeOfUser"/>none
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user
        <br> -->
        <!-- <input type="submit" value="Apply" />
        <input type="reset" value="reset"/> -->
        <!-- <input type="button" (click)="note()" value="note"/> -->
    </form><br>
    <span style="color: red;">{{msg}}</span>
</div>
